.undefinedCellContainer,
.definedCellContainer{
    border: 1px blue solid;
    height: 2rem;
}

.definedCellContainer{
    font-size: 0.8em;
}

.deleteButton{
    all: unset;
    display: none;
}

@media screen and (min-width: 600px){
    .deleteButton{
        display: flex;
    }
}

