.container{
    display: flex;
    height: 10%;
    justify-content: space-evenly;
}

.container > li{
    border: 1px red solid;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}