.container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px var(--charcoal) solid;
    color: var(--charcoal);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 4px 0px;
}

.areasTargeted{
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    position: relative;
}

.areasTargeted > li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    min-width: fit-content;
}

.areasTargeted > li > img{
    border: 1px var(--charcoal) solid;
    border-radius: 5px;
    padding: 3px;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 4px 4px 0px;
}

.areasTargeted > li > p{
    font-size: 0.6rem;
    font-style: italic;
    color: var(--charcoal);
}