.searchItemNameAndButton{
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
    border-radius: 2px;
    padding: 1rem 1rem 0.5rem 1rem;
}

.searchItemNameAndButton > input::placeholder{
    text-transform: capitalize;
}