.container{
    max-height: 1000px;
    transition: 0.7s ease-out;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    color: var(--charcoal);
    user-select: none;
}

.condensed{
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
}

.nav{
    display: flex;
    font-size: 1rem;
    color: var(--oxford-blue);
    height: 2rem;
    align-items: center;
}

.nav > div{
    flex: 1;
    text-align: center;
}

.day{
    text-align: center;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oxford-blue);
    font-size: 0.9rem;
}

.innerContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


@media screen and (min-width: 600px) {
    .container{

    }
}