.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: opacity 0.2s ease-out;
    padding-bottom: 0.5rem;
}

.programContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px var(--charcoal) solid;
    color: var(--charcoal);
    overflow-y: auto;
    margin: 0.5rem 1rem 0rem 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 4px 0px;
}