*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.dashboard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body{
    overflow: hidden;
    height: calc(100vh - constant(safe-area-inset-top)); /* for iOS devices with notch */
    height: calc(100vh - env(safe-area-inset-top)); /* for iOS devices without notch */
}

#__next{
    height: 100%;
}

@keyframes typing {
    from {
        width: 0
    }
}

@media screen and (min-width: 600px) {
    
}